(dns_cf) {
  tls {
    dns cloudflare {env.CLOUDFLARE_API_TOKEN}
  }
}

www.bierbuechli.ch {
  import dns_cf
  redir https://bierbuechli.ch{uri} permanent
}

bierbuechli.ch, *.bierbuechli.ch {
  import dns_cf

  reverse_proxy 10.0.0.5:3000
}